<div class="grid-view">
    {{#each (sort-by @records "name") as |record|}}
        <div class="grid-view__card">
            <div class="grid-view__card-name">{{record.name}}</div>
            <img class="grid-view__card-image" src={{record.imageUrl}}>
            <div class="grid-view__card-description">{{record.description}}</div>
            <br>
            <div class="grid-view__card-links">
                <LinkTo class="grid-view__card-link-detail" @route="{{singularize @modelName}}-details" @model={{record.id}}>View Detail</LinkTo>
                <a class="grid-view__card-link-wiki" href={{record.wikipediaUrl}} target="_blank">View {{singularize (capitalize @modelName)}}</a>
            </div>
        </div>
    {{/each}}
</div>
