<div class="grid-view"> <!--style="display: grid; grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); column-gap: 10%; row-gap: 75px;"-->
    {{#each @records as |model|}}
        <div class="grid-view__card">
            <div class="grid-view__model-name">{{model.name}}</div>
            <img class="grid-view__card-image" src={{model.imageUrl}} alt="Launch">
            <div>{{model.description}}</div>
            <br>
            <div class="grid-view__card-links">
                <LinkTo class="grid-view__card-link" @route={{this.detailRoute}} @model={{model}}>View Detail</LinkTo>
                <a class="grid-view__card-link" href={{model.wikipediaUrl}} target="_blank">View {{this.capitalizedModelName}}</a>
            </div>
        </div>
    {{/each}}
</div>
