<div class="grid-view">
    {{#each this.sortedRecords as |model|}}
        <div class="grid-view__card">
            <div class="grid-view__model-name">{{model.name}}</div>
            <img class="grid-view__card-image" src={{model.imageUrl}} alt="Launch">
            <div>{{model.description}}</div>
            <br>
            <div class="grid-view__card-links">
                <LinkTo class="grid-view__card-link" @route={{this.detailRoute}} @model={{model.id}}>View Detail</LinkTo>
                <a class="grid-view__card-link" href={{model.wikipediaUrl}} target="_blank">View {{this.capitalizedModelName}}</a>
            </div>
        </div>
    {{/each}}
</div>
