<div class="list-view">
    {{#each (sort-by @records "name") as |record|}}
        <div class="list-view-card">
            <img class="list-view-card__image" src={{record.imageUrl}}>
            <div class="list-view-card__text">
                <div class="list-view-card__name">{{record.name}}</div>
                <div class="list-view-card__description">{{record.description}}</div>
                <br>
                <div>
                    <LinkTo class="list-view-card__link-detail" @route="{{singularize @modelName}}-details" @model={{record.id}}>View Detail</LinkTo>
                    <a class="list-view-card__link-wiki" href={{record.wikipediaUrl}} target="_blank">View {{singularize (capitalize @modelName)}}</a>
                </div>

            </div>
        </div>
    {{/each}}
</div>
